.applicationTable {
    width: 100%;
    border-collapse: collapse;
}

.applicationTable tr th {
    height: 2vh;
    font-size: 1rem;
}

.applicationTable th, .applicationTable td {
    border: none; 
    text-align: center;
}

.applicationTable th.role, .applicationTable td.role {
    width: 160px; /* Set a fixed width for the role column */
    white-space: normal; /* Allow wrapping */
    word-wrap: break-word; /* Break long words if necessary */

}

.applicationTable td.role {
    font-size: 0.7rem;
}

 .applicationTable td.location {
    white-space: normal; /* Allow wrapping */
    word-wrap: break-word; /* Break long words if necessary */
    font-size: 0.8rem;
}

.applicationTable td.location , .applicationTable th.location {
width: 90px;
}


.applicationTable td.appliedDate, .applicationTable td.lastUpdated, .applicationTable td.updateBy {
    font-size: 0.9rem;
}

.applicationTable th.dates{
    width: 70px;
}

.applicationTable th {
    background-color: #1F314E;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.applicationTable td {
    color: #001A33;
    text-align: center;
    padding: 10px;
}

.tableContainer {
    margin-top: 20px;
    font-family: 'Rounded Mplus 1c', sans-serif;
}

.applicationTable tr {
    text-align: center;
}
.applicationTable th.companyName, .applicationTable td.companyName {
    width: 160px; /* Set a fixed width for the role column */
    white-space: normal; /* Allow wrapping */
    word-wrap: break-word; /* Break long words if necessary */

}

.applicationTable td.companyName {
    font-size: 0.9rem;
}

.applicationTable tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

.applicationTable tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

.applicationTable tr:nth-child(even) {
    background-color: #F5F3F3;
}

.applicationTable tr:nth-child(odd) {
    background-color: #d1d1d1;
}

.statusLabel {
      display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.referralLabel {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}


.timelineButton, .editButton {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
}

.timelineButton {
    background-color: #2684FF;
    color: white;
}

.editButton {
    background-color: #001A33;
    color: white;
}

/* Pagination styles */
.tableFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #D9D9D9;
}

.paginationInfo {
    font-size: 1rem;
    color: #333;
}

.paginationControls button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.paginationControls button.activePage {
    background-color: #1F314E;
    color: white;
}

.paginationControls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.paginationControls button:hover:not(:disabled) {
    background-color: #1F314E;
    color: white;
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ajustamos para que el footer quede fijo */
    overflow: hidden; /* Evitamos overflow no deseado */
  }
  
  .tableContainer {
    flex-grow: 1; /* Permite que la tabla crezca y ocupe todo el espacio disponible */
    overflow-y: auto; /* Permite el scroll en la tabla */
    margin-top: 20px;
    font-family: 'Rounded Mplus 1c', sans-serif;
  }
  
  .applicationTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .applicationTable th, .applicationTable td {
    text-align: center;
    padding: 10px;
  }
  
  .applicationTable tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }
  
  .applicationTable tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }
  
  .applicationTable tr:nth-child(even) {
    background-color: #F5F3F3;
  }
  
  .applicationTable tr:nth-child(odd) {
    background-color: #d1d1d1;
  }
  
  .tableFooter {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #b8b8b8a8;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-top: 1px solid #ccc; /* Optional: add a border to separate footer from table */
  }
  
  .paginationInfo {
    font-size: 1rem;
    color: #333;
  }
  
  .paginationControls button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #989797;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .paginationControls button.activePage {
    background-color: #1F314E;
    color: white;
  }
  
  .paginationControls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .paginationControls button:hover:not(:disabled) {
    background-color: #1F314E;
    color: white;
  }
  .offerStatus, .declinedStatus, .appliedStatus, .coldApplyReferral, .oaStatus, .offerStatus, .declinedStatus , .acceptedStatus, .referredReferral{
    background-color: #FFFF;
  }

  .offerStatus {

    border: 2px solid #00C72B;
}

.behaviouralStatus{
    border: 2px solid #0065FC;

}

.technicalStatus{
    border: 2px solid #FF9BE3;

}

.declinedStatus {
    border: 2px solid #FF8800;
}

.appliedStatus {
    border: 2px solid #9B74FF;
}

.oaStatus {
    border: 2px solid #1FB2B1;
}

.rejectedStatus {
    border: 2px solid #FF0000;
}

.referredReferral {
    border: 2px solid #00C72B;
}

.coldApplyReferral {
    border: 2px solid #60C1EC;
}