@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

.container {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6eff4fd;
  overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta para asegurarte de que la imagen se repita bien */
    height: 100%; /* Ajusta el tamaño para cubrir la pantalla */
    background-image: url("/Images/companies2.png"), url("/Images/companies2.png"); /* Duplicar la imagen */
    background-repeat: repeat; /* Asegura que se repita */
    background-size: cover; /* Ajusta para cubrir más área de la imagen */
    animation: moveBackground 260s linear infinite; /* Animación diagonal con mayor duración */
    opacity: 0.7;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: 0 0, 100% 100%; /* Comienza desde la posición original */
    }
    100% {
      background-position: -1500% -1500%, 0 0; /* Mueve la imagen diagonalmente */
    }

  }
.content {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.915);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-size: 2.4rem;
  color: #001A33;
  margin-bottom: 20px;
}

.description {
  font-family: 'Barlow', sans-serif;
  font-size: 1.4rem;
  color: #001A33;
  margin-bottom: 30px;
}

.signInButton {
  background-color: #001A33;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.4s;
  
}

.signInButton:hover {
  background-color: #003366;
  scale: 1.1;
}
