.card {
  background-color: #F8F0DE;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem); 
  max-width: 60vh; 
  min-width: 300px; 
  min-height: 225px;
  border: 2px solid #000000;

}

@media (max-width: 750px) {
  .card {
    width: calc(97% - 2rem);
  }
}


.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; 
  margin-top: 6px;
  height: 10vh;
}

.companyImage {
    background-color: white;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 40%;
    width: 100%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.title {
  font-size: 1.1rem;
  margin-top: 10px;
  color: black;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.companyName {
    font-size: 1.3rem;
    color: #6B6969;
    margin-top: 4px;
    font-weight: 600;
    justify-self: flex-end;
}

.postedDays {
    color: #6b33e5; /* Green color for days ago */
    font-size: 1.1rem;
}

.additionalInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    width: 100%;
}

.info {
    margin-top: 0px;
    margin-bottom: 9px;
    color: #003049;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    gap: 1px;
}



.applyButton {
    background-color: #4A4A4A; /* Dark button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
    font-size: 1.2rem;
}

.addButton {
    background-color: #7B3EAB; /* Purple button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
    font-size: 1.3rem;

}

.applyButton:hover, .addButton:hover {
    transform: scale(1.1);
}

.halfs {
    display: flex;
    min-height: fit-content;
}

.cardInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonBig{
   scale : 1.35;
   display: flex;
   justify-content: space-evenly;
   margin-top: 5px;
   width: 60%;

}

.spaceButtons{
    display: flex;
    justify-content: center;
    width: 100%;

}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modal {
    background-color: white;
    color: black;
    border-radius: 35px;
    width: 550px;
    max-width: 90%; /* Adjust for smaller screens */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensure the content doesn't overflow */
  }
  
  .modalHeader {
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: #6B1ED8;
    color: white;
    padding: 5px;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    font-size: 1.5rem;
    height: 10vh;
  }
  
  .modalHeader button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .modalInfo {
    background-color: #AEAEAE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Add space between elements */
    align-items: center;


  }
  
  .modalInfo label,
  .modalInfo p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
  }

  .modalInfo label {
    font-size: 1.6rem;
    margin-bottom: 0px;
    color: #333;
    font-weight: bold;

  }
  
  .modalInfo input,
  .modalInfo select {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 70%;
    background-color: white;
    color: #333;
    margin-top: 0px;
  }
  
  .actions {
    display: flex;
    justify-content: space-evenly;

    margin-top: 6px;
    height: 6vh;

  }
  
  .confirmButton {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirmButton:hover {
    background-color: #333;
  }
  
  .cancelButton {
    background: none;
    border: none;
    color: #6B1ED8;
    cursor: pointer;

  }

  .crossimg{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;

  }
  
  .alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F8F0DE;
    border: solid 1px black;
    color: black;
    padding: 15px 30px;
    border-radius: 8px;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px); 
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0); 
    }
  }

