.card {
    background-color: #F8F0DE;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 32vh;
    border: 2px solid #000000;
}

.companyImage {
    background-color: white;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 40%;
    width: 100%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permitir que el contenedor crezca para ocupar el espacio disponible */
}

.title {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 15px;
    color: black;
    white-space: normal; /* Permitir que el texto se escriba en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.companyName {
    font-size: 1.3rem;
    color: #6B6969;
    margin-top: 4px;
    font-weight: 600;
    justify-self: flex-end;
}

.postedDays {
    color: #6b33e5; /* Green color for days ago */
    font-size: 1.1rem;
}

.additionalInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    width: 45vh;
}

.info {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #003049;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 40vh;
    gap: 1px;
}

.actions {
    display: flex;
    gap: 5px;
    margin-top: 7px;
}

.applyButton {
    background-color: #4A4A4A; /* Dark button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}

.addButton {
    background-color: #7B3EAB; /* Purple button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
}

.applyButton:hover, .addButton:hover {
    transform: scale(1.1);
}

.halfs {
    display: flex;
    min-height: fit-content;
}

.cardInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonBig{
   scale : 1.35;
   display: flex;
   justify-content: space-evenly;
   margin-top: 5px;
   width: 60%;

}

.spaceButtons{
    display: flex;
    justify-content: center;
    width: 100%;

}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
  }
  .alert {
    position: absolute;
    top: 10px; /* Ajusta la posición superior para que esté más arriba */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Desplazar para asegurar que esté centrado */
    background-color: #4BB543; /* Fondo verde de éxito */
    color: rgb(0, 0, 0);
    padding: 15px 30px; /* Aumentar el padding para mejor legibilidad */
    border-radius: 8px;
    z-index: 1000;
    width: 100%; /* Aumentar el ancho */
    max-width: 1000px; /* Asegurar que no se vuelva demasiado ancho */
    text-align: center; /* Centrar el texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Añadir una sombra sutil para profundidad */
  }
  