.filterHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #E6EFF4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.46);
    gap: 14px;
    height: 10vh;
    position: sticky; 
    top: 0; 
    margin: 0; 

}

.filterGroup, .filterGroup2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterGroup,.filterGroup2 label {
    font-size: 1.2rem;
    color: #333;
    
}

.filterGroup input {
    width: 140px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    background-color: #FFF;
    font-size: 1rem;
    color: #333;
}

.filterGroup2 input {
    width: 140px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid #CCC;
    background-color: #FFF;
    font-size: 1.05rem;
    color: #333;
   
}

.filterGroup2 input:focus {
    border-color: #2684FF; 
    outline: none;
    border: 2px solid #2684FF;
}


.resetButton {
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    background-color: #F7E8CA;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.3s;
    align-self: flex-end;
    margin-bottom: 3px;
   
}

.searchButton {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #001A33;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.resetButton:hover {
    background-color: #F9DFA6;
}

.searchButton:hover {
    background-color: #002B4F;
}

.jobGrid {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(3, 1fr); 
  overflow-x:hidden ;
  overflow-y: auto; 
  row-gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

/*Pantallas Med-Grandes de 1350 a 1180px mostramos 2 cards */
@media (max-width: 1350px) {
  .jobGrid {
    padding-right: 6rem;
  }
}


@media (max-width: 1180px) {
  .jobGrid {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 4rem;
  }
}

/*Telefonos 1 Card*/
@media (max-width: 750px) {
  .jobGrid {
    grid-template-columns: 1fr; 

  }
}

.loaderCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    transition: 0.3s;
    scale: 3;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .loading {
    font-size: 1.2rem;
    color: #001A33;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 15px;
    display: inline-block;
  }
  
  .loading span {
    display: inline-block;
    animation: bounce 1s infinite;
  }
  
  .loading span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loading span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading span:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading span:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .loading span:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .loading span:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .loading span:nth-child(7) {
    animation-delay: 0.6s;
  }
